<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Zips{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset(cssPath ~ 'main.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block metatags %}
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        {% endblock %}
        <link rel="shortcut icon" sizes="196x196" href="touchicon_highres.png">
        <link rel="shortcut icon" sizes="128x128" href="touchicon.png">
        <link rel="apple-touch-icon" sizes="128x128" href="touchicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="128x128" href="touchicon.png">
    </head>
    <body>
      <header>
        <div class="logoBox">
          <a href="/" class="sideMenuTrigger misc-sandwich homebutton toggle" title="Home" gumby-trigger=".sideMenuTrigger">
            <img src="{{ asset(imgPath ~ 'homebutton.png') }}" gumby-retina alt="logo" />
          </a>
        </div>
        <div class="search">
          <a href="#" gumby-trigger="#searchBox" class="toggle buttons-search" title="Pesquisar"></a>
        </div>
        <div class="context">
          <span class="title">{% block pageTitle %}{{ pageTitle }}{% endblock %}</span>
          {% block context %}{% endblock %}
          <div id="searchBox">
            <input type="text" name="searchqueue" placeholder="Digite o nome do zip, projeto ou tarefa"/>
          </div>
        </div>
        <div class="clearfix"></div>
      </header>
      <div class="sideMenuTrigger" id="backblock" class="switch" gumby-on="click" gumby-trigger=" | .sideMenuTrigger"></div>
      <div class="sideMenuTrigger" id="sideMenu">
        <ul>
          {% block sideMenu %}
          <li>
            <a href="{{ asset('') }}">Inicio</a>
          </li>
          <li>
            <a href="{{ asset('abertos') }}">Abertos</a>
          </li>
          <li>
            <a href="{{ asset('finalizados') }}">Finalizados</a>
          </li>
          <li>
            <a href="{{ asset('meusZips') }}">Meus Zips</a>
          </li>
          {% endblock %}
          <li>
            <a href="{{ asset('configuracoes') }}">Configurações</a>
          </li>
          <li>
            <a href="{{ asset('sair') }}">Sair</a>
          </li>
        </ul>
      </div>
      <div id="content">
      {% block body %}{% endblock %}
      </div>
      {% block javascripts %}
        <script type="text/javascript" src="{{ asset(jsPath ~ 'libs/jquery-2.0.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset(jsPath ~ 'libs/modernizr-2.6.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset(jsPath ~ 'libs/gumby.min.js') }}"></script>
      {% endblock %}
    </body>
</html>
