{% extends '::base.html.twig' %}

{% block title %}
  {{ parent() }} - {{ pageTitle }}
{% endblock %}

{% block context %}
  <ul class="actionMenu">
    <li>
      <a href="#" class="button buttons-add" title="Novo Zip"></a>
    </li>
  </ul>
{% endblock %}

{% block body %}
  
  {% for zip in zipList %}
    <div class="zipBox toggle" id="zip{{ zip.id }}" gumby-trigger="#zip{{ zip.id }} .zipMenu" gumby-on="mouseover mouseout">
      <div class="zipdate">{{ zip.data }}</div>
      <div class="check"><a href="#" class="checkBall toggle" gumby-trigger="#zip{{ zip.id }} .checkBall" ></a></div>
      <div class="zipMain">
        <a href="{{ zip.id }}" class="zipNome fittext" gumby-rate="0.5" gumby-sizes="14|80">{{ zip.nome }}</a>
        <div class="zipFooter">
          <span>
            {% if zip.finalizado %}
              Finalizado
            {% elseif zip.revisaoSolicitada %}
              Revisão Solicitada
            {% elseif zip.aprovado %}
              Aprovado em {{ zip.atual }}
            {% else %}
              Aguardando Aprovação
            {% endif %}
          </span>
          <span>{{ zip.atual }} &gt; 
            {% if zip.proximo == zip.atual %} 
              nenhum 
            {% else %} 
              {{ zip.proximo }} 
            {% endif %}
          </span>
          <span>{{ zip.site }}</span>
        </div>
      </div>
      <div class="clearfix"></div>
      <ul class="zipMenu">
        <li><a href="Main/Download" class="button buttons-download" onclick="Display.loadView('Main/Download', [{{ zip.id }}])"></a></li>
        <li><a href="Desenvolvedores/EditarZip" class="button buttons-edit" onclick=""></a></li>
        <li><a href="Desenvolvedores/EnviarRevisao" class="button buttons-revision" onclick=""></a></li>
        <li><a href="javascript:void(0)" class="button buttons-delete" onclick="principal.apagarZip({{ zip.id }})"></a></li>
        <li><a href="javascript:void(0)" class="button buttons-checkUp" onclick="principal.marcarUpado({{ zip.id }})"></a></li>
      </ul>
    </div>
  {% endfor %}
  
{% endblock %}